
body {
    background: #333;
}
.equalizer{
    width: 400px;
    height:250px;
    margin: 10px;
}

.equalizer li {
 background: repeating-linear-gradient(to bottom, transparent, 
 transparent 20px, #333 20px, #333 23px),
 linear-gradient(to bottom, #ffd059, #ff8c00);
 width: 40px;
 display: inline-block;
 margin-right: 5px;
 border-radius: 5px 5px 0 0;
 vertical-align: bottom;
}
.height-1 {
    height: 23px;
}
.height-2 {
    height: 45px;
}
.height-3 {
    height: 68px;
}
.height-4 {
    height: 90px;
}
.height-5 {
    height: 113px;
}
.height-6 {
    height: 135px;
}
.height-7 {
    height: 158px;
}
.height-8 {
    height: 180px;
}
.height-9 {
    height: 203px;
}
.height-10 {
    height: 225px;
}