<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UsersFileName" value="D:\EpamTasks\Task06\users.txt"/>
    <add key="AwardsFileName" value="D:\EpamTasks\Task06\awards.txt"/>
    <add key="UsersAwardsFileName" value="D:\EpamTasks\Task06\usersAwardsList.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>