.block{
    position: absolute;
    left: 500px;
    width: 100px;
    height: 100px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.timer{
    width: 180px;
    padding-left: 75px;
}

.restart{
    margin-left: 25%;
}

.back{
    display: block;
    margin-top: 10px;
}

.next-page{
    position: absolute;
    visibility: hidden;
}