body{
    background-color: #2e3e4d;
}

.triple-offer{
    background-color: white;
    margin: auto;
    font-family: 'Verdana';
    margin-top: 20px;
    width: 900px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 30px 60px #121313;
}
.triple-offer li{
    width: 32%;
    text-align: center;
    margin-top: 20px;
    margin-left: 8px;
    line-height: 20px;
    float: left;
    border-right: 1px solid #e4e4e4;
}
.triple-offer li:last-child{
    border-right: none;
}

.image {
    height: 42px;
    overflow: hidden;
    display: block;
}

.image .virtual{
    margin-top: 0px;
    src: 1.png;
}

.image .cloud{
    margin-top: -42px;
}

.image .server{
    margin-top: -84px;
}

.triple-offer li header {
    color: #f5632e;
    font-size: 20px;
    font-weight: 600;
}

.triple-offer li span {
    font-size: 14px;
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
}
.triple-offer li a{
    display: block;
    padding: 5px;
    width: 35%;
    text-decoration: none;
    color: white;
    margin: auto;
    text-align: center;
    background-color: #f5632e;
}
